/* * { outline: 1px solid red; } */

body {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.captcha-container {
  background-color: #f5f5f5;  
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 1em;
  gap: 1em;
  max-width: fit-content;
  max-height: fit-content;
  font-size: xx-large;
}